html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;

}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



img {
  max-width: 100%;
  height: auto;
  transition: filter 0.3s ease; /* Add transition for smooth effect */
}

body.light img {
  filter: none; /* Normal */
}

body.dark img {
  filter: invert(1); /* Invert colors */
}

