.homepageLink {
    display: flex;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

.homepageLink:hover {
    color: cornflowerblue;
}

.projectsPage { }

.projectObject {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.textAndImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.centerText { }

.mainLogo {
    padding-bottom: 3%;
    padding-top: 3%;
    width: 4.5rem;
    height: 4.5rem;
}

.sphereSmackTitle {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 1.5rem;
}

/* Media Queries for Mobile */
@media (max-width: 600px) {

    .sphereSmackTitle {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .mainLogo {
        width: 4rem; /* Make the logo smaller */
        height: 4rem; /* Maintain aspect ratio */
    }

    .body {
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 600px;
    }

    .textAndImage {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 1.2rem; /* Smaller description font size */
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .body {
        padding-left: 0 2rem;
        padding-right: 0 2rem;
    }
    .projectObject {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .projectsPage {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .body {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

}
